<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="answer">
	<insert id="insert" parameterType="map">
		INSERT INTO ANSWER VALUES(#{idx}, #{answer})
	</insert>
	
	<update id="update" parameterType="map">
		UPDATE ANSWER
		   SET CONTENT = #{answer} WHERE REQUEST_IDX = #{idx}
	</update>
	
	<delete id="delete">
	
		DELETE FROM ANSWER
		 WHERE REQUEST_IDX = #{idx}
	</delete>
</mapper>
