<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="couponmanage">
	<select id="selectList" parameterType="pagination" resultType="adminCouponManageRespDto">
		SELECT *
		  FROM (SELECT ROWNUM AS RNUM, IDX, RATE * 100 AS RATE, PERIOD, NAME, STATUS FROM COUPON_MANAGE
		         WHERE IDX >= 1 ORDER BY IDX DESC)
         WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectOne" resultType="adminCouponManageRespDto">
		SELECT IDX, RATE * 100 AS RATE, PERIOD, NAME, STATUS, COUPON_CODE
		  FROM COUPON_MANAGE WHERE IDX = #{idx}
	</select>
	
	<select id="count" resultType="_int">
		SELECT COUNT(*) FROM COUPON_MANAGE
	</select>
	
	<insert id="insert" parameterType="adminCouponInsertReqDto">
		INSERT INTO COUPON_MANAGE
		VALUES (COUPON_MANAGE_SEQ.NEXTVAL, #{rate}, #{period}, #{name}, DEFAULT, #{couponCode})
	</insert>
	
	<update id="update" parameterType="adminCouponUpdateReqDto">
		UPDATE COUPON_MANAGE
		   SET RATE = #{rate}, PERIOD = #{period},  NAME = #{name}
		 WHERE IDX = #{idx}
	</update>
	
	<update id="delete">
		UPDATE COUPON_MANAGE SET STATUS = 1 WHERE IDX = #{idx}
	</update>
	
		
	<insert id="insertCoupon" parameterType="CouponManageReqDto">
		INSERT INTO COUPON_MANAGE
		VALUES (COUPON_MANAGE_SEQ.NEXTVAL, #{rate}, #{period}, #{name}, DEFAULT, #{couponCode})
	</insert>
	
	<select id="selectCouponCode" resultType="_int">
		SELECT COUNT(*) FROM COUPON_MANAGE WHERE COUPON_CODE=#{couponCode}
 	</select>
	
	<select id="couponList" resultType="CouponManageRespDto" >
		SELECT CM.COUPON_CODE,CM.RATE * 100 AS RATE, CM.PERIOD, C.START_DATE, C.EXPIRE_DATE, CM.NAME FROM COUPON C, COUPON_MANAGE CM
		WHERE C.COUPON_IDX = CM.IDX AND CM.STATUS = 0 AND C.STATUS = 0  AND MEMBER_IDX = (SELECT IDX FROM MEMBER WHERE USERNAME = #{username}) AND SYSTIMESTAMP BETWEEN START_DATE AND EXPIRE_DATE
	</select>
	
	
	
</mapper>
