<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="coupon">

	<insert id="insertCoupon">
	
	INSERT INTO COUPON VALUES(COUPON_SEQ.NEXTVAL, DEFAULT, (SELECT (SYSTIMESTAMP + PERIOD) FROM COUPON_MANAGE 
	WHERE IDX = (SELECT IDX FROM COUPON_MANAGE WHERE COUPON_CODE = #{couponCode})),
	(SELECT IDX FROM COUPON_MANAGE WHERE COUPON_CODE = #{couponCode}),
	(SELECT IDX FROM MEMBER WHERE USERNAME = #{username}), DEFAULT)

	</insert>
	
	<select id="selectCoupon" resultType="CouponReqDto">
	SELECT COUPON.*,
	COUPON_MANAGE.IDX, COUPON_MANAGE.RATE*100 AS RATE, COUPON_MANAGE.NAME,COUPON_MANAGE.STATUS, COUPON_MANAGE.COUPON_CODE
	FROM COUPON JOIN COUPON_MANAGE ON 
	COUPON.COUPON_IDX=COUPON_MANAGE.IDX WHERE COUPON.STATUS = 0 AND COUPON.MEMBER_IDX = #{memberIdx} AND SYSTIMESTAMP BETWEEN  START_DATE AND EXPIRE_DATE
	</select>
	
	<select id="totalCoupon" resultType="_int">
	      SELECT COUNT(*) FROM COUPON WHERE COUPON_IDX = (SELECT IDX FROM COUPON_MANAGE WHERE COUPON_CODE=#{couponCode})
		   AND MEMBER_IDX = (SELECT IDX FROM MEMBER WHERE USERNAME = #{username})  AND STATUS = 0
	</select>
	
	<select id="countCoupon" resultType="_int">
		SELECT COUNT(*) FROM COUPON WHERE MEMBER_IDX = (SELECT IDX FROM MEMBER WHERE USERNAME = #{username}) AND STATUS = 0
	</select>
	
	<insert id="insertWelcome">
		INSERT INTO COUPON
		VALUES (COUPON_SEQ.NEXTVAL, SYSTIMESTAMP, SYSTIMESTAMP + (SELECT PERIOD FROM COUPON_MANAGE WHERE IDX = 1), 1, MEMBER_SEQ.CURRVAL, DEFAULT)
	</insert>
	
	
</mapper>
