<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="coupon">

	<insert id="insertCoupon">
	
	INSERT INTO COUPON VALUES(COUPON_SEQ.NEXTVAL, DEFAULT, (SELECT (SYSTIMESTAMP + PERIOD) FROM COUPON_MANAGE 
	WHERE IDX = (SELECT IDX FROM COUPON_MANAGE WHERE COUPON_CODE = #{couponCode})),
	(SELECT IDX FROM COUPON_MANAGE WHERE COUPON_CODE = #{couponCode}),
	(SELECT IDX FROM MEMBER WHERE USERNAME = #{username}))

	</insert>
	
	<select id="selectCoupon" resultType="CouponReqDto">
		SELECT * FROM COUPON WHERE MEMBER_IDX = #{memberIdx}
	</select>
	
	<select id="totalCoupon" resultType="_int">
	     select count(*) cnt from coupon where coupon_idx = (select idx from coupon_manage where coupon_code = #{couponCode})
        and member_idx = (select idx from member where username = #{username});
	</select>
	
</mapper>
