<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="location">
	<select id="selectList" parameterType="pagination" resultType="adminLocationRespDto">
		SELECT *
		  FROM (SELECT ROWNUM AS RNUM, LOCATION.*
                  FROM LOCATION ORDER BY IDX DESC)
         WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectOne" resultType="adminLocationOneRespDto">
		SELECT * FROM LOCATION WHERE IDX = #{idx}
	</select>
	
	<select id="count" resultType="_int">
		SELECT COUNT(*) FROM LOCATION
	</select>
	
	<select id="selectNameList" resultType="LocationRespDto">
		SELECT NAME, IDX FROM LOCATION
	</select>
	
	
	
	<select id="likeLocation" resultType = "LocationRespDto">
		
      select l.name, l.PHONE_NUMBER, l.BUSINESS_HOURS, l.ADDRESS 
      from location l left join like_location on idx = like_location.location_idx 
      where member_idx in (select idx from member where username=#{username})
	</select>
	
	<select id="checkLike">
	 	SELECT COUNT(*) FROM LIKE_LOCATION WHERE LOCATION_IDX = #{locationIdx} AND MEMBER_IDX = #{memberIdx}
	</select>
	
	<insert id="insertFavorite" parameterType="LocationReqDto">
		INSERT INTO LIKE_LOCATION VALUES (#{locationIdx}, #{memberIdx})
	
	</insert>
	
	<select id="getLikeLoction" resultType="LocationRespDto">
		SELECT * FROM LIKE_LOCATION WHERE LOCATION_IDX = #{locationIdx} AND MEMBER_IDX = #{memberIdx}
	
	</select>
	
	<delete id="deleteFav" >
		DELETE FROM LIKE_LOCATION WHERE LOCATION_IDX = #{locationIdx} AND MEMBER_IDX = #{memberIdx}
	</delete>
</mapper>
