<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="selectList">
		SELECT * FROM MEMBER
	</select>
	
	<select id="selectMypageOne" resultType="memberInfoRespDto">
		select *
		from member_info 
        inner join member on member_info.idx = member.idx
        WHERE USERNAME = #{username}
	</select>
	
	<select id="selectOne" resultType="memberInfoRespDto">
		select * from member_info where idx = #{idx}
	</select>
	
	<select id="findId" resultType="string">
		SELECT USERNAME
		  FROM MEMBER
		 INNER JOIN MEMBER_INFO ON MEMBER.IDX = MEMBER_INFO.IDX
		 WHERE EMAIL = #{email}
	</select>
	
	<select id="forFindPass" resultType="string">
		SELECT EMAIL
		  FROM MEMBER_INFO
		 INNER JOIN MEMBER ON MEMBER_INFO.IDX = MEMBER.IDX
		 WHERE USERNAME = #{username}
	</select>
	
	<update id="findPass" parameterType="map">
		UPDATE MEMBER SET PASSWORD = #{password} WHERE USERNAME = #{username}
	</update>
	
	<insert id="insert" parameterType="memberReqDto">
		INSERT INTO MEMBER
		VALUES(MEMBER_SEQ.NEXTVAL, #{username}, #{password}, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertInfo" parameterType="memberInfoReqDto">
		INSERT INTO MEMBER_INFO
		VALUES(MEMBER_SEQ.CURRVAL, #{name}, #{gender}, #{birth}, #{phoneNumber}, #{license}, #{email})
	</insert>
	
	<select id="checkDup" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USERNAME = #{username}
	</select>
	
	<update id="updateInfo" parameterType="memberInfoRespDto">
		UPDATE MEMBER_INFO SET NAME=#{name}, GENDER = #{gender}, BIRTH = #{birth}
									, PHONENUMBER = #{phoneNumber}, EMAIL = #{email}
					       WHERE IDX = #{idx}
	</update>
	
	<update id="deleteMember">
		UPDATE MEMBER SET ENABLED = 0 WHERE USERNAME = #{username}
	</update>
	
	<update id="deleteMemberInfo">
		UPDATE (SELECT * FROM MEMBER, MEMBER_INFO WHERE MEMBER.IDX = MEMBER_INFO.IDX)
           SET NAME = 0, GENDER = 0, BIRTH = 0, PHONE_NUMBER = 0, LICENSE = 0, EMAIL = 0
         WHERE USERNAME = #{username}
	</update>

	<select id="userPass" resultType="string">
		SELECT PASSWORD FROM MEMBER WHERE USERNAME = #{username}
	</select>
	
	<select id="selectMemberList" resultType="adminMemberRespDto">
		SELECT * FROM MEMBER INNER JOIN MEMBER_INFO ON MEMBER.IDX = MEMBER_INFO.IDX
	</select>
	<select id="selectMemberOne" resultType="adminMemberRespDto">
		SELECT * FROM MEMBER INNER JOIN MEMBER_INFO ON MEMBER.IDX = MEMBER_INFO.IDX WHERE USERNAME = #{username}
	</select>
	
	<select id="getMemberInfo" resultType="memberInfoRespDto">
		select * from member_info where username = #{username}
	</select>
	
	
</mapper>
