<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="selectList">
		SELECT * FROM MEMBER
	</select>
	
	<select id="selectMypageOne" resultType="memberInfoRespDto">
		select *
		from member_info 
        inner join member on member_info.idx = member.idx
        WHERE USERNAME = #{username}
	</select>
	
	<select id="selectOne" resultType="memberInfoRespDto">
		select * from member_info where idx = #{idx}
	</select>
	
	<select id="findId" resultType="string">
		SELECT USERNAME
		  FROM MEMBER
		 INNER JOIN MEMBER_INFO ON MEMBER.IDX = MEMBER_INFO.IDX
		 WHERE EMAIL = #{email}
	</select>
	
	<select id="forFindPass" resultType="string">
		SELECT EMAIL
		  FROM MEMBER_INFO
		 INNER JOIN MEMBER ON MEMBER_INFO.IDX = MEMBER.IDX
		 WHERE USERNAME = #{username}
	</select>
	
	<update id="findPass" parameterType="map">
		UPDATE MEMBER SET PASSWORD = #{password} WHERE USERNAME = #{username}
	</update>
	
	<insert id="insert" parameterType="memberReqDto">
		INSERT INTO MEMBER
		VALUES(MEMBER_SEQ.NEXTVAL, #{username}, #{password}, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertInfo" parameterType="memberInfoReqDto">
		INSERT INTO MEMBER_INFO
		VALUES(MEMBER_SEQ.CURRVAL, #{name}, #{gender}, #{birth}, #{phoneNumber}, #{license}, #{email})
	</insert>
	
	<select id="checkDup" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USERNAME = #{username}
	</select>
	
	<update id="updateInfo" parameterType="memberInfoRespDto">
		UPDATE MEMBER_INFO SET NAME = #{name}, GENDER = #{gender}, BIRTH = #{birth}
									, PHONENUMBER = #{phoneNumber}, LICENSE = #{license},EMAIL = #{email}
					       WHERE IDX = #{idx}
	</update>
	
	<delete id="delete">
		
	</delete>
	
	<select id="selectMemberList" resultType="adminMemberRespDto">
		SELECT USERNAME, ENABLED, NAME, GENDER, BIRTH, PHONE_NUMBER, LICENSE, EMAIL
		  FROM MEMBER INNER JOIN MEMBER_INFO ON MEMBER.IDX = MEMBER_INFO.IDX
	</select>
	
</mapper>
