<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
	<select id="selectList" parameterType="pagination" resultType="adminNoticeRespDto">
		SELECT *
          FROM (SELECT ROWNUM AS RNUM, IDX, TITLE, READ_COUNT
                     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE
                     , TO_CHAR(UPDATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE
                     , TO_CHAR(DELETE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS DELETE_DATE
                  FROM NOTICE)
         WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<select id="selectOne" resultType="adminNoticeOneRespDto">
		SELECT IDX, TITLE, CONTENT FROM NOTICE WHERE IDX = #{idx}
	</select>
	<select id="count" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
	</select>
	<select id="testSelect" resultType="kh.spring.chazazo.admin.model.dto.TestDto">
		SELECT *
  FROM (SELECT (SELECT NAME FROM LOCATION WHERE LOCATION.IDX = PAYMENT.RENT_LOCATION) AS NAME
             , EXTRACT(MONTH FROM PAID_TIME) || '월' AS PAID, FINAL_PRICE FROM PAYMENT)
 PIVOT (
    SUM(FINAL_PRICE) FOR NAME IN ('용산점' loc1, '수원점' loc2, '일산점' loc3, '송도점' loc4, '강남점' loc5)
 )
	</select>
</mapper>
