<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payment">
		
		<select id="resList" resultType="PaymentReqDto">
			select *
			 from payment
			 join member on payment.idx = member.idx
			   where username = #{username}
			   			
		</select>
	
		<select id="ReservationOne" resultType="PaymentReqDto" >
			 SELECT * FROM payment WHERE idx=#{idx}
		</select>
	
	

	
	<delete id="resDelete" parameterType="int">
		DELETE FROM payment WHERE IDX = #{IDX}
	</delete>
	
	<insert id="insertPayInfo" parameterType="PaymentReqDto" >
		insert into payment 
		(IDX, STATE, MEMBER_IDX, VEHICLE_IDX, INSURANCE_IDX, COUPON_IDX, FINAL_PRICE, PAID_TIME, START_DATE, END_DATE, CANCEL_DATE, RENT_LOCATION,RETURN_LOCATION, IS_MEMBER )
		values (payment_seq.nextval,0,#{memberIdx},#{vehicleIdx}, #{insurance},0, #{finalprice}, #{paidtime}, #{startDate}, #{endDate},'',#{rentLocation},#{returnLocation}, #{ismember})
	
	</insert>
		
	<insert id ="insertNmemInfo" parameterType="PaymentReqDto" >
	
	</insert>
	
	
	
</mapper>
