<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payment">
		
		<select id="resList" resultType="PaymentReqDto">
			select *
			 from payment
			 join member on reservation.idx = member.idx
			   where username = #{username}
			   			
		</select>
	
		<select id="ReservationOne" resultType="PaymentReqDto" >
			 SELECT * FROM payment WHERE idx=#{idx}
		</select>
	
	

	
	<delete id="resDelete" parameterType="int">
		DELETE FROM payment WHERE IDX = #{IDX}
	</delete>
	
	<insert id="insertPayInfo" parameterType="java.util.List" >
		insert into payment values (payment_seq.nextval,0, #{useridx},#{caridx}, #{insurance},0, #{finalprice}, #{paidtime}, #{startDate}, #{endDate}, '',#{returnLocation}, #{ismember})
	
	</insert>
		
	<insert id ="insertNmemInfo" parameterType="java.util.List" >
	
	</insert>
	
	
	
</mapper>
