<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payment">
		
		<select id="resList" resultType="PaymentReqDto">
			select *
			 from payment
			 join member on payment.idx = member.idx
 		</select>
	
		<select id="ReservationOne" resultType="PaymentReqDto" >
			 SELECT * FROM payment WHERE memberidx=#{memberidx}
		</select>
	
		<update id="deleteRes">
			update payment set state = 1 where idx = #{idx}
		</update>
	

	
	<insert id="insertPayInfo" parameterType="java.util.List" >
		insert into payment values (payment_seq.nextval,0, #{useridx},#{caridx}, #{insurance},0, #{finalprice}, #{paidtime}, #{startDate}, #{endDate}, '',#{returnLocation}, #{ismember})
	
	</insert>
		
	<insert id ="insertNmemInfo" parameterType="java.util.List" >
	
	</insert>
	
	
	
</mapper>
