<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="request">
	<!-- 멤버용 -->
	<select id="selectListByMember" resultType="requestRespDto">
		SELECT * FROM REQUEST WHERE MEMBER_IDX=(SELECT IDX FROM MEMBER WHERE USERNAME=#{username})
	</select>
	<insert id="insert" parameterType="map">
		INSERT INTO REQUEST VALUES(REQUEST_SEQ.NEXTVAL, #{title}, #{content}, DEFAULT, DEFAULT, DEFAULT, (SELECT IDX FROM MEMBER WHERE USERNAME=#{username}))
	</insert>
	
	<!-- 관리자용 -->
	<select id="selectList" parameterType="map" resultType="adminRequestRespDto">
		SELECT *
		  FROM (SELECT ROWNUM AS RNUM, IDX, TITLE, STATUS, REQ_DATE, ANS_DATE, USERNAME 
		          FROM (SELECT REQUEST.IDX AS IDX, REQUEST.TITLE AS TITLE
		                     , REQUEST.STATUS AS STATUS , TO_CHAR(REQUEST.REQ_DATE, 'YYYY-MM-DD HH24:MI:SS') AS REQ_DATE
		                     , TO_CHAR(REQUEST.ANS_DATE, 'YYYY-MM-DD HH24:MI:SS') AS ANS_DATE, USERNAME
		                  FROM REQUEST INNER JOIN MEMBER ON REQUEST.MEMBER_IDX = MEMBER.IDX ORDER BY REQUEST.REQ_DATE DESC))
		 WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<select id="selectOne" resultType="adminRequestOneRespDto">
		SELECT REQUEST.IDX, REQUEST.TITLE, REQUEST.STATUS, REQUEST.CONTENT, ANSWER.CONTENT AS ANSWER FROM REQUEST LEFT OUTER JOIN ANSWER ON REQUEST.IDX = ANSWER.REQUEST_IDX WHERE IDX = #{idx}
	</select>
	<select id="count" resultType="_int">
		SELECT COUNT(*) FROM REQUEST
	</select>
	<update id="update">
		UPDATE REQUEST SET STATUS = 1, ANS_DATE = SYSTIMESTAMP WHERE IDX=#{idx}
	</update>
	<delete id="delete">
		DELETE FROM REQUEST WHERE IDX = #{idx}
	</delete>
</mapper>
