<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="selectList" resultType="reviewDto">
		SELECT * FROM REVIEW 
	</select>
	
	<select id="selectOne" resultType="reviewDto">
		SELECT *
		  FROM REVIEW R LEFT OUTER JOIN MEMBER_INFO M
		    ON R.MEMBER_IDX = M.IDX
		     WHERE R.VEHICLE_IDX=#{idx}
		 ORDER BY CREATE_DATE DESC
		 
	</select>
	
	<insert id="insert">
		INSERT INTO REVIEW(IDX,MEMBER_IDX,CONTENT,CREATE_DATE,RECOMMEND,SCORE,VEHICLE_IDX) 
					VALUES(REVIEW_SEQ.NEXTVAL, #{memberIdx},  #{content}, DEFAULT, DEFAULT, #{score}, #{vehicleIdx})
	</insert>
	
	<update id="inserLike">
		UPDATE REVIEW
		   SET RECOMMEND=(SELECT RECOMMEND from review WHERE IDX =#{idx}) + 1
		 WHERE IDX =#{idx}
	</update>
	
	<update id="updateReview">
	UPDATE REVIEW SET CONTENT=#{content} WHERE IDX =#{idx}
	</update>
	
	<delete id="deleteReview">
	UPDATE REVIEW SET STATUS =3 WHERE IDX=#{idx}
	</delete>
	
	<insert id="insertReport" parameterType="reviewDto">
		INSERT INTO REPORT(IDX, REVIEW_IDX, MEMBER_IDX, REASON, STATUS, START_DATE) 
		VALUES(REPORT_SEQ.NEXTVAL, #{idx}, (SELECT IDX FROM MEMBER WHERE USERNAME=#{name}), #{reason}, DEFAULT, SYSDATE)
	</insert>
	
	<select id="selectReview" resultType="reviewDto">
		SELECT * FROM REVIEW WHERE IDX = #{idx}
	</select>
	
	<select id="count" resultType="_int">
		SELECT COUNT(*) CNT FROM REVIEW
	</select>
	
	<select id="selectListForMain" resultType="reviewMainRespDto">
		SELECT CONTENT, USERNAME, SCORE
		  FROM (SELECT ROWNUM RNUM, RE.* 
		          FROM (SELECT CONTENT, CREATE_DATE, SCORE, (SELECT USERNAME FROM MEMBER WHERE IDX = R.MEMBER_IDX) USERNAME
		                  FROM REVIEW R WHERE STATUS = 0 ORDER BY RECOMMEND DESC) RE)
		 WHERE RNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectMyReview" resultType="reviewDto">	
		SELECT r.*, (SELECT MODEL FROM VEHICLE v WHERE IDX = r.VEHICLE_IDX) AS VEHICLE_MODEL
		 	 FROM REVIEW r WHERE MEMBER_IDX IN (SELECT IDX FROM MEMBER WHERE username = #{username}) 
		 	 ORDER BY CREATE_DATE ASC
	</select>
	
	<select id="checkResv" resultType="_int">
	 	SELECT COUNT(*) FROM PAYMENT WHERE MEMBER_IDX = #{memberIdx} AND VEHICLE_IDX = #{vehicleIdx} AND STATE =0
	</select>
	
	<update id="updateReviewStatus" parameterType="reviewDto">
		UPDATE REVIEW SET STATUS = 1 WHERE IDX = #{idx}
	</update>
	
	<update id="return" parameterType="adminReportUpdateReqDto">
		UPDATE REVIEW SET STATUS = 0 WHERE IDX = #{reviewIdx}
	</update>
	
	<update id="confirm" parameterType="adminReportUpdateReqDto">
		UPDATE REVIEW SET STATUS = 2 WHERE IDX = #{reviewIdx}
	</update>
	
	<select id="countReview" resultType = "_int">
		SELECT COUNT(*) FROM REVIEW WHERE MEMBER_IDX = (SELECT IDX FROM MEMBER WHERE USERNAME = #{username})
	</select>
	
</mapper>
