<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="selectList" resultType="reviewDto">
		SELECT * FROM REVIEW 
	</select>
	
	<select id="selectOne" resultType="reviewDto">
		SELECT *
		  FROM REVIEW R LEFT OUTER JOIN MEMBER_INFO M
		    ON R.MEMBER_IDX = M.IDX
		     WHERE R.VEHICLE_IDX=#{idx}
		 ORDER BY CREATE_DATE ASC
		 
	</select>
	
	<insert id="insert">
		INSERT INTO REVIEW(IDX,MEMBER_IDX,CONTENT,CREATE_DATE,RECOMMEND,SCORE,VEHICLE_IDX) 
					VALUES(REVIEW_SEQ.NEXTVAL, #{memberIdx},  #{content}, DEFAULT, DEFAULT, #{score}, #{vehicleIdx})
	</insert>
	
	<update id="inserLike">
		UPDATE REVIEW
		   SET RECOMMEND=(SELECT RECOMMEND from review WHERE IDX =#{idx}) + 1
		 WHERE IDX =#{idx}
	</update>
	
	<update id="updateReview">
	UPDATE REVIEW SET CONTENT=#{content} WHERE IDX =#{idx}
	</update>
	
	<delete id="deleteReview">
	DELETE FROM REVIEW WHERE IDX =#{idx}
	</delete>

	<select id="selectReviewContent" resultType="string">
		SELECT REVIEW.*, REVIEW_IDX
		  FROM REVIEW INNER JOIN REPORT
		    ON REVIEW.IDX = REPORT.REVIEW_IDX
		 WHERE REPORT.IDX = #{idx}
	</select>
	
	<insert id="insertReport" parameterType="reviewDto">
		INSERT INTO REPORT(IDX,REVIEW_IDX,MEMBER_IDX,REASON,STATUS,START_DATE) 
		VALUES(REPORT_SEQ.NEXTVAL,#{idx}, (SELECT IDX FROM MEMBER WHERE USERNAME=#{name}), #{reason}, DEFAULT, SYSDATE)
	</insert>
	
	<select id="selectReview" resultType="reviewDto">
	SELECT * FROM REVIEW WHERE IDX = #{idx}
	</select>
	
	<select id="count" resultType="_int">
		SELECT COUNT(*) CNT FROM REVIEW
	</select>
	
	<select id="selectListForMain" resultType="map">
		SELECT CONTENT
		  FROM (SELECT ROWNUM RNUM, RE.*
		          FROM (SELECT CONTENT, CREATE_DATE FROM REVIEW ORDER BY CREATE_DATE DESC) RE)
		 WHERE RNUM BETWEEN 1 AND 4
	</select>
	
	
	<select id="selectMyReview" resultType="reviewDto">
		
		SELECT r.*, (SELECT MODEL FROM VEHICLE v WHERE IDX = r.VEHICLE_IDX) AS VEHICLE_MODEL
		 	 FROM REVIEW r WHERE MEMBER_IDX IN (SELECT IDX FROM MEMBER WHERE username = #{username}) 
		 	 ORDER BY CREATE_DATE ASC
	</select>
	
	<select id="checkResv" resultType="_int">
	 	SELECT COUNT(*) FROM PAYMENT WHERE MEMBER_IDX = #{memberIdx} and VEHICLE_IDX = #{vehicleIdx}
	</select>

	
</mapper>
