<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="selectList" resultType="reviewDto">
		SELECT * FROM REVIEW 
	</select>
	<select id="selectOne" resultType="reviewDto">
		SELECT * FROM review r
		left outer join member_info m
		on r.member_idx = m.idx
		 where VEHICLE_IDX=#{vehicleIdx} 
	</select>
	<insert id="insert">
		INSERT INTO REVIEW(IDX,MEMBER_IDX,CONTENT,CREATE_DATE,RECOMMEND,SCORE,VEHICLE_IDX) 
					VALUES(REVIEW_SEQ.NEXTVAL, #{memberIdx},  #{content}, DEFAULT, DEFAULT, 3.5, #{vehicleIdx})
	</insert>
	<insert id="inserLike">
		UPDATE REVIEW SET recommend =#{recommend} WHERE IDX ={idx}
	</insert>
	<update id="update">
		UPDATE MEMBER SET IDX = #{idx}, vehicleIdx = #{vehicleIdx}, content = #{content} WHERE IDX = #{idx}
	</update>
	<delete id="delete">
		DELETE FROM REVIEW WHERE IDX = #{idx}	
	</delete>
	<select id="selectReviewContent" resultType="string">
		SELECT REVIEW.*, REVIEW_IDX FROM REVIEW INNER JOIN REPORT ON REVIEW.IDX = REPORT.REVIEW_IDX WHERE REPORT.IDX = #{idx}
	</select>
</mapper>
