<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vehicle">

	<select id="selectList" resultType="VehicleInfo" >
		WITH T AS
			(SELECT ROW_NUMBER() OVER(ORDER BY V.IDX) NUM, V.*, F.TYPE AS FUELNAME, C.TYPE AS TYPENAME, L.NAME
			   FROM FUELTYPE F, CARTYPE C, VEHICLE V, LOCATION L
			  WHERE V.CARTYPE_IDX = C.IDX AND V.FUELTYPE_IDX = F.IDX AND V.LOCATION_IDX = L.IDX
		<if test="typeList !=null">
			AND C.IDX IN
		 	<foreach collection="typeList" item="type" separator="," open="(" close=")">
				#{type}
		 	</foreach>
		</if>
		<if test="fuelList !=null">
			AND F.IDX IN
		 	<foreach collection="fuelList" item="fuel" separator=","  open="(" close=")">
				#{fuel}
		 	</foreach>
		</if>
		<if test = "keyword != null">
			AND V.MODEL LIKE #{keyword}
		</if>
			) SELECT * FROM T
			   WHERE NUM BETWEEN 1 AND #{page}
	</select>

 	<select id="getVehicleInfo" resultType="VehicleInfo">
 		 SELECT *
 		   FROM VEHICLE V LEFT OUTER JOIN LOCATION L
 		     ON V.LOCATION_IDX = L.IDX WHERE V.IDX = #{idx}
 	</select>
 	
 	<select id="getOptionInfo" resultType="VehicleInfo">
	 	SELECT F.TYPE AS FUELNAME, C.TYPE AS TYPENAME
	 	  FROM FUELTYPE F, CARTYPE C, VEHICLE V
	     WHERE V.CARTYPE_IDX = C.IDX AND V.FUELTYPE_IDX = F.IDX AND V.IDX = #{idx}
 	</select>
 	
 	<select id="count" resultType="_int">
 		SELECT COUNT(*) CNT FROM VEHICLE
	</select>
	
	<select id="selectListAdmin" parameterType="pagination" resultType="adminVehicleRespDto">
		SELECT * 
		  FROM (SELECT ROWNUM AS RNUM, T.*
		          FROM (SELECT V.IDX, V.MODEL, V.YEAR, V.PRICE, V.MAKER, F.TYPE AS FUEL
		                     , C.TYPE AS TYPE, L.NAME AS LOCATION FROM VEHICLE V, FUELTYPE F, CARTYPE C, LOCATION L
                         WHERE V.CARTYPE_IDX = C.IDX AND V.FUELTYPE_IDX = F.IDX AND V.LOCATION_IDX = L.IDX ORDER BY V.IDX DESC) T)
         WHERE RNUM BETWEEN #{start} and #{end}
	</select>
	
	<select id="selectOneAdmin" resultType="adminVehicleOneRespDto">
		SELECT V.IDX, V.MODEL, V.YEAR, V.PRICE, V.MAKER, V.IMAGE
		     , F.TYPE AS FUEL, C.TYPE AS TYPE, L.NAME AS LOCATION
		  FROM VEHICLE V, FUELTYPE F, CARTYPE C, LOCATION L
         WHERE V.CARTYPE_IDX = C.IDX AND V.FUELTYPE_IDX = F.IDX AND V.LOCATION_IDX = L.IDX AND V.IDX = #{idx}
	</select>
	
	<select id="insertReport" resultType="PaymentInfoDto">
		SELECT * FROM PAYMENT WHERE MEMBER_IDX = #{memberIdx}
	</select>
	
	<update id="delete">
		UPDATE VEHICLE SET PRICE = 0 WHERE IDX = #{idx}
	</update>
	
	<update id="update" parameterType="adminVehicleUpdateReqDto">
		UPDATE VEHICLE
		   SET PRICE = #{price}, LOCATION_IDX = #{locationIdx}
		 WHERE IDX = #{idx} 
	</update>
 	
 	<insert id="insert">
 		INSERT INTO VEHICLE
 		VALUES (VEHICLE_SEQ.NEXTVAL, #{model}, #{year}, #{price}, #{image}, #{maker}, #{locationIdx}, #{fueltypeIdx}, #{cartypeIdx})
 	</insert>
</mapper>
