<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vehicle">

	<select id="selectList" resultType="VehicleInfo" >
		select v.*, f.type as fuelname, c.type as typename, l.name
		from FUELTYPE f, CARTYPE c, VEHICLE v ,location l
		where v.cartype_idx = c.idx and v.fueltype_idx = f.idx and v.location_idx=l.idx
	<if test="typeList !=null">
		and c.idx in
	 <foreach collection="typeList" item="type" separator="," open="(" close=")">
		#{type}
	 </foreach>
	</if>
		<if test="fuelList !=null">
		and f.idx in
	 <foreach collection="fuelList" item="fuel" separator=","  open="(" close=")">
		#{fuel}
	 </foreach>
	</if>
	and rownum between 1 and #{page}
	</select>


 	<select id="getVehicleInfo" resultType="VehicleInfo">
 		 select *
        from vehicle v
        left outer join location l
        on v.location_idx = l.idx
        where v.idx = #{idx}
 	</select>
 	
 	<select id="getOptionInfo" resultType="VehicleInfo">
	 select f.type as fuelname,  c.type as typename
	from FUELTYPE f, CARTYPE c, VEHICLE v
	where v.cartype_idx = c.idx and v.fueltype_idx = f.idx and v.idx=#{idx}
 	
 	</select>
 	<select id="selectOneCount" resultType="_int">
	select count(*) cnt from vehicle
	</select>
	
	<select id="selectListAdmin" parameterType="pagination" resultType="adminVehicleRespDto">
		SELECT * 
		  FROM (SELECT ROWNUM AS RNUM, T.*
		          FROM (SELECT V.IDX, V.MODEL, V.YEAR, V.PRICE, V.MAKER, F.TYPE AS FUEL
		                     , C.TYPE AS TYPE, L.NAME AS LOCATION FROM VEHICLE V, FUELTYPE F, CARTYPE C, LOCATION L
                         WHERE V.CARTYPE_IDX = C.IDX AND V.FUELTYPE_IDX = F.IDX AND V.LOCATION_IDX = L.IDX ORDER BY V.IDX DESC) T)
         WHERE RNUM BETWEEN #{start} and #{end}
	</select>
	
	<select id="selectOneAdmin" resultType="adminVehicleOneRespDto">
		SELECT V.IDX, V.MODEL, V.YEAR, V.PRICE, V.MAKER, V.IMAGE
		     , F.TYPE AS FUEL, C.TYPE AS TYPE, L.NAME AS LOCATION
		  FROM VEHICLE V, FUELTYPE F, CARTYPE C, LOCATION L
         WHERE V.CARTYPE_IDX = C.IDX AND V.FUELTYPE_IDX = F.IDX AND V.LOCATION_IDX = L.IDX AND V.IDX = #{idx}
	</select>
 	
 	
</mapper>
