<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.spring.chazazo.member.model.vo.MemberVo" alias="mvo"/>
		<typeAlias type="kh.spring.chazazo.review.vo.ReviewVo" alias="rvo"/>
		<typeAlias type="kh.spring.chazazo.notice.model.vo.NoticeVo" alias="nvo"/>
	</typeAliases>
</configuration>
